#campo {
  margin:  0 0 0 15em;
}

#navlink {
  display: flex;
}

#tabela {
  width: 60%;
  margin: 2em auto;
  text-align: center;
}

.voltar_cadastro {
  text-align: center;
  margin: 2em 0 0 0;
}


#alert_container {
  width: 50%;
  margin: 2em auto;
}

#formulario {
  margin: auto;
  padding: 3em;
}

#nf {border-radius: 15px;}
#datavencimento {border-radius: 15px;}
#datacriacao {border-radius: 15px;}
#valor {border-radius: 15px;}
#comprador {border-radius: 15px;}
#vendedor {border-radius: 15px;}
#auxestado {border-radius: 15px;}


#container_show {
  margin: 4em auto;
  font-size: 20px;
  width: 30%;
}

.container_voltar_tabela_show {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.img_voltar {
  width: 20px;
}

.vermais_img {
  width: 20px;
}

#butaovermais {
  
}

.acoes {
  margin: auto;
  gap: 1em;
}